.dark {
  background-color: var(--color-primary);
  color: var(--color-neutral-grey);
  border-color: var(--color-primary);
  border-radius: 0;
  font-family: var(--font-secondary);
  padding-left: 40px;
  padding-right: 40px;
  transition: all .2s linear;
}

.dark:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.light {
  background-color: var(--color-neutral-grey);
  color: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: 0;
  font-family: var(--font-secondary);
  padding-left: 40px;
  padding-right: 40px;
  transition: all .2s linear;
}

.light:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
