td {
  border: 0px solid black;
}

table {

}

.sub {
  margin-bottom: 0px;
  font-weight: 300;
}

.nav_name {
  margin-bottom: 0px;
  font-style: 1000;
}

.title{
  font-family: var(--font-secondary);
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding-left: 22px;
}

.button {
  padding: 0;
}

.button a {
  color: var(--color-primary);
  font-family: var(--font-primary);
  padding-left: 25px;
  display: block;
}

.button :hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.logo {
  width: 50px;
}

.wth {
  width: 25%;
}



@media only screen and (min-width: 25em) {
  .logo {
    width: 80px;
    padding-top: 20px;
  }

  .title {
    font-size: 1.4757rem;
    line-height: 1.95rem;
  }
}

 @media only screen and (min-width: 38em) {
  .logo {
    width: 140px;
    padding-top: 16px;
  }

  .title {
    font-size: 1.68rem;
    line-height: 2.275rem;
  }
}


@media only screen and (min-width: 60em) {
  .logo {
    width: 140px;
    padding-top: 17px;
  }

  .title {
    font-size: 1.7926rem;
    line-height: 2.6rem;
  }
}

@media only screen and (min-width: 90em) {
  .logo {
    width: 170px;
    padding-top: 17px;
  }

}


.container {

}

.btn {

}
.btn:hover {

}
