td {
  border: 3px solid black;
}

table {

}

.title{
  font-family: var(--font-secondary);
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.button {
  padding: 0;
}

.button a {
  color: var(--color-primary);
  font-family: var(--font-primary);
  padding-left: 25px;
  display: block;
}

.button :hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.logo {
  width: 50px;
}

 @media only screen and (min-width: 38em) {
  .logo {
    width: 200px;
  }
}
