.tuna {
  /* steps causes the animation to chunk into 12 equal pieces */
  animation: walk-cycle 1s steps(12) infinite;
  background: url(/images/tuna_sprite.png) 0 0 no-repeat;
  height: 200px;
  width: 400px;
  margin: 100px auto 0;
}

.po {
  width: 8em;
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

@keyframes walk-cycle {
  0% {background-position: 0 0; }
  100% {background-position: 0 -2391px; } /* Must be full height of sprite or skipping will happen.*/
}
