.card {
  background: var(--color-secondary);
  border: 2px solid black;
  border-radius: 0px;
  height:25vw;
  margin: 0rem;
  position: relative;
  width: 100%;
}

.card-longimg {
  background: var(--color-secondary);
  border-radius: 0px;
  margin: 0rem;
  position: relative;
  width: 60%;
}

.card-width {
  background: var(--color-secondary);
  border-radius: 0px;
  margin: 0rem;
  position: relative;
  width: 80%;
}

.card-more-width{
  background: var(--color-secondary);
  border: 2px solid black;
  border-radius: 0px;
  margin: 0rem;
  position: relative;
  width: 80%;
}

.card-1 {
  box-shadow: 0 0 3px rgba(0,0,0,0.90), 0 0 2px rgba(0,0,0,0.90);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0px 0px 28px rgba(0,0,0,0.90), 0px 0px 10px rgba(0,0,0,0.90);
}
