<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <link rel="shortcut icon" href="/images/icon.ico">
  <link rel="icon" type="image/png" href="/images/icon.png">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,600|Playfair+Display+SC:700&display=swap" rel="stylesheet">
  <meta name="ICBM" content="45.41117.-75.69812">
  <meta name="geo.position" content="45.41117.-75.69812">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:type" content="website">
  <meta property="og:title" content="QianDesign. • Protfolio">
  <meta property="og:url" content="https://qian-design.com/">
  <meta property="og:image" content="https://qian-design.co/images/social.jpg">
  <meta property="og:site_name" content="Qian Design.">
  <meta property="og:description" content="Qian Diesign Portfolio.">
  <meta property="og:locale" content="en_CA">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@qiandesign.com">
  <meta name="twitter:title" content="">
  <meta name="twitter:url" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">
</head>
<body>
{{content}}
</body>
</html>
