<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <link rel="shortcut icon" href="/images/icon.ico">
  <link rel="icon" type="image/png" href="/images/icon.png">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,600|Playfair+Display+SC:700&display=swap" rel="stylesheet">
  <meta name="ICBM" content="45.41117.-75.69812">
  <meta name="geo.position" content="45.41117.-75.69812">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:type" content="website">
  <meta property="og:title" content="QianDesign. • Protfolio">
  <meta property="og:url" content="https://qian-design.com/">
  <meta property="og:image" content="https://qian-design.co/images/social.jpg">
  <meta property="og:site_name" content="Qian Design.">
  <meta property="og:description" content="Qian Diesign Portfolio.">
  <meta property="og:locale" content="en_CA">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@qiandesign.com">
  <meta name="twitter:title" content="">
  <meta name="twitter:url" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">
</head>
<body>
  <ul class="skip-links">
    <li><a href="#main">Jump to main content</a></li>
    <li><a href="#nav">Jump to navigation</a></li>
  </ul>

  <header class="masthead" role="banner">
    {% pattern header/header-mobile %}
    {% pattern header/header-nav-2 %}
  </header>

  <main role="main" id="main" tabindex="0">
    {{content}}

    {% pattern footer/footer %}
  </main>

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "Qian Deisgn",
    "author": {
      "@type": "Person",
      "@id": "#QianZhaoCheng"
    },
    "description": "Portfolio WebSite",
    "image": "https://placehold.it/1600x900",
    "award": "",
    "url": "https://http://qian-design.com",
    "keywords": "Web, Responsive, CSS, Mobile, PORTFOLIO"
  }
  </script>

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "@id": "#QianZhaoCheng",
    "name": "QianZHaoCheng",
    "email": "Qian0020@algonquinlive.com",
    "url": "https://qian-design.com"
  }
  </script>

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Qian Deisgn.",
    "email": "Qian0020algonquinlive@algonquin.com",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "",
      "addressLocality": "",
      "addressRegion": "QianDesign",
      "addressCountry": "Canada",
      "postalCode": "K2G3G3"
    }
  }
  </script>

</body>
</html>
